body{
    background: #F6E5C1;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.next_btn{
    color: white;
}

.back_btn{
    color: #5C5CFF;
}

#logo{
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

#form{
    background: white;
    width: 850px;
    height: 500px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

#left_items{
    margin-left: 75px;
}

#top_p{
    margin: auto;
}

a{
    color: #5C5CFF;
    margin-left: 10px;
}

h2{
    font-family: "Inter", medium;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

p{
    max-width: 240px;
    font-family: "Inter", medium;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#group_el{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.element{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: none;
    background: #F6E5C1;
    margin-left: 10px;
}

#el2{
    width: 30px;
    background: #5C5CFF;
}

#link{
    width: 350px;
    height: 40px;
    border: 1px solid #5C5CFF;
    border-radius: 30px;
    background: none;
    color: #5C5CFF;
    font-family: "Inter", medium;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px dashed #6c63ff;
    border-radius: 10px;
    color: #6c63ff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.upload-box:hover {
    border-color: #4b47cc;
}

.upload-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.upload-box input {
    display: none;
}

#img_icon{
    font-size: 30px;
}

#buttons{
    display: flex;
}

#back{
    width: 175px;
    height: 51px;
    border: none;
    border-radius: 30px;
    background: white;
    border: 2px solid #5C5CFF;
    color: #5C5CFF;
    font-family: "Inter", medium;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 25px;
}

#next{
    width: 175px;
    height: 51px;
    border: none;
    border-radius: 30px;
    background: #5C5CFF;
    color: white;
    font-family: "Inter", medium;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
}

input::placeholder {
    margin-left: 10px;
    color: #5C5CFF;
    opacity: 1;
}

#man_img{
    height: 500px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
}

#ellipse_img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    z-index: 10;
}